.payment-method-title {
    display: block;
    font: var(--type-details-semibold-6-font);
    line-height: var(--line-height-l);
    text-align: left;
    
}

.payment-methods {
    background-color: var(--color-neutral-white);
}