.checkout__billing-information .checkout__billing-information-title {
    margin-bottom: var(--space-space-3x);
    text-align: center;
  }

@media (width >=768px) {
    .checkout__billing-information .checkout__billing-information-title {
        display: block;
        font: var(--type-details-semibold-6-font);
        line-height: var(--line-height-l);
        text-align: left;
    }
}